@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aspira Light */
@font-face {
  font-family: "Aspira";
  src: url("fonts/aspira-light.otf");
  font-weight: 300;
  font-style: normal;
}

/* Aspira Regular */
@font-face {
  font-family: "Aspira";
  src: url("fonts/aspira-regular.otf");
  font-weight: 400;
  font-style: regular;
}

/* Aspira Medium */
@font-face {
  font-family: "Aspira";
  src: url("fonts/aspira-medium.otf");
  font-weight: 500;
  font-style: medium;
}

/* Aspira Semi */
@font-face {
  font-family: "Aspira";
  src: url("fonts/aspira-demi.otf");
  font-weight: 600;
  font-style: semibold;
}

/* Aspira Bold */
@font-face {
  font-family: "Aspira";
  src: url("fonts/aspira-bold.otf");
  font-weight: 700;
  font-style: bold;
}

/* Aspira Black */
@font-face {
  font-family: "Aspira";
  src: url("fonts/aspira-black.otf");
  font-weight: 800;
  font-style: black;
}

/* Aspira Heavy */
@font-face {
  font-family: "Aspira";
  src: url("fonts/aspira-heavy.otf");
  font-weight: 900;
  font-style: heavy;
}

:root {
  --orange-300: #ff7d41;

  --neutral-100: #f7f7f7;
  --neutral-200: #f0f2f5;
  --neutral-300: #eeeeee;

  --font-100: #757575;
}

* {
  font-family: "Aspira", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}


.divider {
  width: 100%;
  height: 1px;
  background-color: var(--neutral-300);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #7777774d;
}

body::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border-radius: 4px;
}

.ring {
  --uib-size: 16px;
  --uib-speed: 2s;
  --uib-color: #fff;

  height: var(--uib-size);
  width: var(--uib-size);
  vertical-align: middle;
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
}

.ring circle {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -124px;
  }
}
